.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-grow: 1;
  min-height: 100vh;
}

.main__header {
}

.header__h1 {
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
