.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  border: 2px solid #cbd5e1;
  padding: 0.5em;
  border-radius: 0.25em;
  gap: 2em;
}

.order__data {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.order__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__btn:hover {
  transform: scale(1.3);
}
